<% layout('layouts/boilerplate.ejs') %>
<!-- This line will inject the hmtl code into boilerplate.ejs -->
<div>
  <a href="/pitches/new">Add new pitch</a>
</div>
<ul>
  <% for(pitch of pitches){ %>
  <li>
    <a href="/pitches/<%= pitch.id %>"><%= pitch.title %></a>
  </li>
  <% } %>
</ul>
