<% layout('layouts/boilerplate.ejs') %>
<!-- This line will inject the hmtl code into boilerplate.ejs -->
<main>
  <form action="/pitches" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" name="pitch[title]" id="title" />
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" name="pitch[price]" id="price" />
    </div>
    <div>
      <label for="description">Description</label>
      <input type="text" name="pitch[description]" id="description" />
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" name="pitch[location]" id="location" />
    </div>
    <button>Save</button>
  </form>
  <a href="/pitches">Home</a>
</main>
