<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <h1 class="text-center">New Pitch</h1>
  <div class="col-6 offset-3">
    <form
      action="/pitches"
      method="POST"
      novalidate
      class="bs-validate"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          name="pitch[title]"
          id="title"
        />
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Images:</label>
        <input
          class="form-control"
          name="image"
          type="file"
          id="formFileMultiple"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input
          required
          min="0"
          class="form-control"
          type="number"
          name="pitch[price]"
          id="price"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          name="pitch[description]"
          id="description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          name="pitch[location]"
          id="location"
        />
      </div>
      <button class="btn btn-success mb-3">Save</button>
    </form>
  </div>
</div>
